body {
  margin: 0;

  font-size: 15px;
  line-height: 2.6;
  color: rgb(11, 23, 19);
  text-align: center;
}
.navigation {
  list-style-type: none;
  margin: 100px;
  padding: 0;
  background-color: #e7ece4;
  border: 1px #4c0072 solid;
  display: flex;
}

.container {
  width: 100%;
  max-width: 1200px;
  margin: auto;
  background-color: aquamarine;
}
.a {
  display: block;
  block-size: 50px;
  text-align: center;
}
